Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
APScheduler==3.10.4
google-api-python-client==2.124.0
google-auth==2.29.0
requests==2.31.0
google-cloud-tpu==1.10.0
google-cloud-compute==1.15.0
Werkzeug==3.0.1
Flask-WTF==1.2.1
google-cloud-monitoring==2.30.0
